{
  "openapi": "3.0.0",
  "info": {
    "title": "Podcasts API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://isidorn-super-duper-space-fiesta-p7p5jvrvv92rrp9-8080.preview.app.github.dev"
    }
  ],
  "paths": {
    "/shows": {
      "get": {
        "summary": "Get a list of shows",
        "operationId": "getShows",
        "responses": {
          "200": {
            "description": "List of shows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Show"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}": {
      "get": {
        "summary": "Get a show by id",
        "operationId": "getShowById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the show to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested show",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          }
        }
      }
    },
    "/episodes/{id}/summary": {
      "get": {
        "summary": "Get a summary of an episode",
        "operationId": "getEpisodeSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the episode to retrieve the summary for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The summary of the requested episode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpisodeSummary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Show": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Episode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "audioUrl": {
            "type": "string"
          },
          "showId": {
            "type": "string"
          }
        }
      },
      "EpisodeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "showId": {
            "type": "string"
          }
        }
      }
    }
  }
}